*{
    box-sizing: border-box;
}

body{
    background-color: antiquewhite; 
    font-family: sans-serif;
    background-image: linear-gradient(to bottom right, rgb(228, 227, 227),rgb(226, 223, 223));
}

header{
text-align: center;
font-family: 'Smooch Sans', sans-serif;
background-color: rgb(145, 198, 245);
font-size: 1.5em;
color: white;

}

main{
    background-color: white;
    padding: 2% 5%;
    width: 60vw;
    margin: 0 auto;
}

#add-title-text{
   margin: 1% 0;
   font-family: 'Kanit', sans-serif;
   font-size: 1.5em;
}

.task-add{ 
    display: flex;
    flex-direction: row;
    padding-bottom: 5vh;
}

#main-task{
    flex: auto;
    border: 1px solid grey ;
}

#add-button{
    width: 15%; 
    background-color: azure;
    border: 1px solid grey ;
}


.container{
    display: flex;
    flex-direction: column;
    min-height: 30vh;
}

.tasks{
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    padding: 1% 3% 1% 3%;
    border: 1px solid rgb(162, 162, 243);   
    margin-bottom: 1%;
}

#task-description{
    flex: 1;   
}

.edit-button{
    width: fit-content;  
}

.remove-button{
    width: fit-content;
}

.inferior-field{
    display: flex;
    align-items: baseline;  
}

.todo{
    flex: 1;
}

footer{
    position: relative;
    text-align: center;
    bottom: -20px;
    margin: 0 auto;
    width: 90%; 
}

input{
    height: 30px;
    min-width: fit-content;
    border: none;
}

.task-description{
    flex: auto;
    font-size: medium;
}

.line-through{
    text-decoration: line-through;
    color: rgba(128, 128, 128, 0.658);
}

.edit-button{
    background-color: transparent;
    font-weight: bold;
}

.remove-button{
    background-color: transparent;
    font-weight: bold;
}

.edit-button:hover{
    background-color: rgb(179, 215, 247);
    cursor: pointer;
}

.remove-button:hover{
    background-color: rgb(253, 70, 70);
    cursor: pointer;

}

#add-button:hover{
    background-color: rgba(0, 255, 191, 0.596);
    cursor: pointer;
}

.hide{
    display: 	none;
}

input:focus{
    box-shadow: 0 0 0 0;
    outline: 0;
}

.checkbox{
    margin: 0;
    size: ;
 
}

.checkbox:hover{
    cursor: pointer;
}

.clear {
    background-color: azure;
    border: 1px grey solid;
}

.clear:hover{
    background-color: rgb(252, 42, 42); 
    color: white; 
    font-weight: bold;
    border: 1px grey solid;
    cursor: pointer;
}