*{
    box-sizing: border-box;
    /* font-family: 'Smooch Sans', sans-serif; */
    /* font-family: sans-serif; */
    
}

body{
    background-color: antiquewhite; 
    font-family: sans-serif;
    background-image: url(../todolist/images/back-blur.png)
}

header{
text-align: center;
font-family: 'Smooch Sans', sans-serif;
background-color: aliceblue;
font-size: 1.5em;

}

main{
    background-color: rgba(245, 245, 220, 0.842);
    padding: 2% 5%;
    
    width: 60vw;
    margin: 0 auto;
}

#add-title-text{
   margin: 1% 0;
   font-family: 'Kanit', sans-serif;
   font-size: 1.5em;
}

.task-add{
    
    display: flex;
    flex-direction: row;
    padding-bottom: 5vh;
}

#main-task{
    flex: auto;
}

#add-button{
    width: 15%; 
    background-color: azure;
}


.container{
    
    display: flex;
    flex-direction: column;
    /* height: 80vh;
    width: 60vw;
    margin: 1% auto; */
    min-height: 30vh;
}

.tasks{
 
    display: flex;
    flex-direction: row;
    padding: 1% 3%;  
    
}

#task-description{
    flex: 1;   
}

.edit-button{
    width: fit-content;  
}

.remove-button{
    width: fit-content;
}

.inferior-field{
   
    display: flex;
    align-items: baseline;  
}

.todo{
    flex: 1;
}

footer{
    
    position: relative;
    text-align: center;
    bottom: -20px;
    margin: 0 auto;
    width: 90%; 
}

input{
    height: 30px;
    min-width: fit-content;
    border: none;
}

.task-description{
    flex: auto;
}

.line-through{
    text-decoration: line-through;
}

.edit-button{
background-color: aliceblue;
}

.remove-button{
    background-color: aliceblue;
    
    }

.edit-button:hover{
background-color: rgb(179, 215, 247);
}

.remove-button:hover{

background-color: rgb(253, 70, 70);

}

#add-button:hover{
    background-color: rgba(0, 255, 191, 0.596);
}

.ocult{
    display: 	none;
}