*{
    box-sizing: border-box;
    font-family: sans-serif; /* ver isso !!*/
}

body{
    background-color: antiquewhite; 
    border: 2px solid rebeccapurple; /* APAGAR */
    
}

header{
text-align: center;

}

main{
    background-color: beige;
    padding: 2% 5%;
    border: 2px solid rebeccapurple; /* APAGAR */
    width: 60vw;
    margin: 0 auto;
}

#add-title-text{
   margin: 1% 0;
}

.task-add{
    border: 1px solid red;    /* APAGAR */
    display: flex;
    flex-direction: row;
    padding-bottom: 5vh;
}

#main-task{
    flex: auto;
}

#add-button{
    width: 15%; 
}

.container{
    border:  solid 1px green;     /* APAGAR */
    display: flex;
    flex-direction: column;
    /* height: 80vh;
    width: 60vw;
    margin: 1% auto; */
    min-height: 30vh;
}

.tasks{
    border: solid 1px blue;    /* APAGAR */
    display: flex;
    flex-direction: row;
    padding: 1% 3%;  
}

#task-description{
    flex: 1;   
}

.edit-button{
    width: fit-content;  
}

.remove-button{
    width: fit-content;
}

.inferior-field{
    border: 3px solid blue;    /* APAGAR */
    display: flex;
    align-items: baseline;  
}

.todo{
    flex: 1;
}

footer{
    border: 3px solid blue;    /* APAGAR */
    position: relative;
    text-align: center;
    bottom: -20px;
    margin: 0 auto;
    width: 90%; 
}

input{
    height: 30px;
    min-width: fit-content;
}

.task-description{
    flex: auto;
}

.line-through{
    text-decoration: line-through;
}

